<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
  </head>
  <body>

    <h2>
      <% if (typeof error!== 'undefined') { %>
      <%= error %>
      <% } else { %>
      The page you were trying to reach doesn't exist.
      <% } %>
    </h2>

  </body>
</html>
