<div>
  <div style="width: 320px; height: 50px; position: relative;">
    <a style="text-decoration: none; display: block; line-height: 0;" onclick="redirectToAppStore()"><img src="<%= banner_url %>" style="height:50px; width:320px"></a>
    <a id="banner_close" style="position: absolute; top: 0; right: 0; width: 20px, height: 20px" onclick="closeMoboAds()"><img src="/images/close_rectangle_icon.png"></a>
  </div>
</div>
<style>

</style>
<script>
  var adUnitId = "<%= ad_unit_id %>";
  var url = "<%= click_url %>";
  var isWap = <%= is_wap %>;

  function closeMoboAds(){
    var  nAgt = navigator.userAgent,
      regExp = /Windows Phone/;

    parent.window.postMessage({type: "closemoboads", adUnitId: adUnitId}, "*");
    if(regExp.test(nAgt)){
      window.external.notify("moboads://close");
    }
    else{
      window.location = "moboads://close";
    }
  }

  function redirectToAppStore(){

    if(isWap) {
      redirectWap();
    } else {
      redirectApp();
    }

  }

  function redirectApp() {
    var  nAgt = navigator.userAgent,
      regExp = /Windows Phone/;

    parent.window.postMessage({type: "installmoboads", adUnitId: adUnitId, url: url}, "*");
    if(regExp.test(nAgt)){
      window.external.notify("moboads://install/?url="+url);
    }
    else{
      window.location = "moboads://install/?url="+url;
    }
  }

  function redirectWap() {
    window.open(decodeURIComponent(url));
  }
</script>
