<style>
    @-webkit-viewport{width:device-width}
    @-moz-viewport{width:device-width}
    @-ms-viewport{width:device-width}
    @-o-viewport{width:device-width}
    @viewport{width:device-width}
</style>
<div style="margin: 0px; background: rgba(51, 51, 51, 0.7)">
    <div  style="position: relative; width: 100%; height: 100%;">
      <div id="banner-container" style="text-align: center; height: 100%">
        <a id="close-icon" style="text-decoration: none; display: none; position: absolute; width: 50px; height: 50px; margin-top: -16px;" onclick="closeMoboAds()"><img style="width:50px; height: 50px" src="/images/close_circle_icon.png"></a>
        <a id="a-banner" style="text-decoration: none; display: block" onclick="redirectToAppStore()">
            <img id="img-banner" style="width: auto; max-width: 84%; height: 84%; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;">
        </a>
      </div>
    </div>
</div>
<script>
    var banner = "<%= banner_url %>";
    var adUnitId = "<%= ad_unit_id %>";
    var url = "<%= click_url %>";
    var isWap = <%= is_wap %>;

    function closeMoboAds(){
        var  nAgt = navigator.userAgent,
                regExp = /Windows Phone/;

        parent.window.postMessage({type: "closemoboads", adUnitId: adUnitId}, "*");
        if(regExp.test(nAgt)){
            window.external.notify("moboads://close");
        }
        else{
            window.location = "moboads://close";
        }
    }

    function redirectToAppStore(){

        if(isWap) {
            redirectWap();
        } else {
            redirectApp();
        }

    }

    function redirectApp() {
        var  nAgt = navigator.userAgent,
                regExp = /Windows Phone/;

        parent.window.postMessage({type: "installmoboads", adUnitId: adUnitId, url: url}, "*");
        if(regExp.test(nAgt)){
            window.external.notify("moboads://install/?url="+url);
        }
        else{
            window.location = "moboads://install/?url="+url;
        }
    }

    function redirectWap() {
        window.location = decodeURIComponent(url);
    }

    //load image
    var wWidth = window.innerWidth
            || document.documentElement.clientWidth
            || document.body.clientWidth;

    var wHeigth = window.innerHeight
            || document.documentElement.clientHeight
            || document.body.clientHeight;

    loadImage();
    window.addEventListener("resize", changeRightClose);

    function loadImage(){
        var myImage = new Image();
        myImage.onload = getWidthAndHeight;
        myImage.onerror = loadFailure;
        myImage.src = banner;
        function getWidthAndHeight() {
            wWidth = window.innerWidth
            || document.documentElement.clientWidth
            || document.body.clientWidth;
    
            wHeigth = window.innerHeight
            || document.documentElement.clientHeight
            || document.body.clientHeight;
        
            var img = document.getElementById("img-banner");
            var imgClose = document.getElementById("close-icon");
            var marginWidth = 0;
            var marginHeight = 0;

            img.setAttribute("src", this.src);
            marginWidth = Math.round(wWidth/2) - Math.round(img.clientWidth/2);
            marginHeight = Math.round(wHeigth/2) - Math.round(img.clientHeight/2);
            img.style.marginTop = marginHeight;

            imgClose.style.right = marginWidth - 16;
            imgClose.style.top = marginHeight;
            imgClose.style.display = "block";
            return true;
        }
        function loadFailure() {
            var imgClose = document.getElementById("close-icon");
            imgClose.style.marginTop = 0;
            imgClose.style.display = "block";
            document.getElementById("a-banner").innerHTML = "<h2>IMAGE NOT FOUND</h2>";

            return true;
        }
    }

    function changeRightClose(){
        wWidth = window.innerWidth
        || document.documentElement.clientWidth
        || document.body.clientWidth;

        wHeigth = window.innerHeight
        || document.documentElement.clientHeight
        || document.body.clientHeight;

        var img = document.getElementById("img-banner");
        var imgClose = document.getElementById("close-icon");
        var marginWidth = 0;
        var marginHeight = 0;

        marginWidth = Math.round(wWidth/2) - Math.round(img.clientWidth/2);
        marginHeight = Math.round(wHeigth/2) - Math.round(img.clientHeight/2);
        img.style.marginTop = marginHeight;

        imgClose.style.right = marginWidth - 16;
        imgClose.style.top = marginHeight;
    }
</script>