<html>
  <head>
    <title>TRACKING API</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>

  <body style="margin: 0">
    <%- body %>
    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->
  </body>
</html>
