<!DOCTYPE html>
<html>
<head>
	<title> "<%= title %>" </title>
	<meta property="og:title"              content="<%= title %>" />
	<meta property="og:description"        content="<%= description %>" />
	<meta property="og:image"              content="<%= icon %>" />
</head>
<body>

</body>
</html>