<html>
<head>
  <title>API Tracking</title>
</head>
<body>
<script type="text/javascript">
      var click_url = "<%= click_url %>" + location.search,
        publisher = "<%= publisher %>",
        campaign = "<%= campaign %>";
</script>

<script src="/js/wapclick/wapclick.js"></script>

</body>
</html>
